* text=auto !eol
/Makefile -text
/apertium-pes-glk.pes-glk.dix -text
/apertium-pes-glk.pes-glk.lrx -text
/apertium-pes-glk.pes-glk.t1x -text
/modes.xml -text
/update-morph.sh -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
